#description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description p {
  padding: 20px;
  text-align: justify
}

.show-grid {
  height: 100%;
}
.show-grid .row {
  height: 33.3vh
}
.show-grid .row .col {
  padding: 0;
}
.row .col .btn-block {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.return-button {
  opacity: 0.8;
  border-radius: 0;
  padding: 10px;
  height: 100%;
}