.pomodoro-background {
  margin: 0;
  padding-top: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-rows: 3fr 2fr 3fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #d9d9d9;
  text-align: center;
}

.labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: end;
  justify-items: center;
  height: 100%;
  width: 100%;
  background-color: #fff;

  border: 1px solid black;
}

.labels button {
  /* background-color: #eeeeeee8; */
  background-color: #fff;
  color: #000;
  width: 4em;
  /* width: 100%; */
  height: 3em;
  border: 1px solid black;
  border-radius: 0;
  padding: 0;
}

.labels .length {
  border-radius: 10px;
  font-size: 1.5em;
}

#timer {
  width: 80vw;
  max-width: 400px;
  border-radius: 10px;
  background-color: #fff;
}

#time-left {
  font-size: 9em;
  font-family: calculator; /* This was imported in the calculatorStyles.css file*/
}